* html, body{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}
body{
    padding: 20px;
    text-align: center;
    font-family: 'Gentium Book Basic', serif;
}
h1{
font-family: 'Neuton', serif;
}
h2{
font-family: 'Neuton', serif;}
hr{
 color:orangered;
    }